<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/facu.jpg" 
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Juan Facundo Mainardi</p>
        <p>Full Stack Web Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1>SOBRE MI</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Impedit error debitis eius veritatis natus atque 
            quidem excepturi! Ab eaque ratione corrupti odio 
            consequuntur minima,
             nostrum assumenda quia optio natus eius!</P>
    </div>
</div>
