#logo{
    width: 150px;
}
img{
    width: 50px;
}
.redessociales{
    margin-right: 0.5cm;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 575px){
    
    
    .btn{
        border-width: medium;
    }
    .contenedor{
        flex-direction: column;
    }
    .redessociales{
        display: flex;
      
        align-items: center;
    }
    .redessociales img{
        margin: 0.5cm;
    }
        
}
