.row{
    background-color: rgba(51, 84, 122, 0.15);
    padding: 20px;
    color: rgb(8, 8, 8);

}


    h1, h3, h2, h4{
        display: inline;
        color: white;
    }


.parte1, .parte2{
display: inline-block;
text-align: justify;
}
.img-proy{
    box-shadow: 10px 10px 30px #000;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }


  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .accordion-item{
    border: 1px solid rgba(23, 53, 82, 0.87);
  }

  .accordion-button:not(.collapsed){
    color:inherit;
    background: rgba(23, 53, 82, 0.87);
    color : #e8e8e8;
  }

  .accordion-button:focus{
    box-shadow: inherit;
  }