<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <!--<button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación
        </button>-->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal4" *ngIf="isLogged">
            Agregar Educación
          </button>
    </div>


    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">INSTITUCIÓN</th>
              <th scope="col">TÍTULO</th>              
            </tr>
          </thead>
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        {{Educacion.nombreE}}
                    </td>
                    <td>
                       {{Educacion.descripcionE}}
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-secondary" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">AGREGAR EDUCACIÓN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
           
                <div>
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" id="formmodal">
                        <div class="form-group">
                            <label for="nombreE">Nombre de la institución</label>
                            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionE">Descripción de sus estudios</label>
                            <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                        </div>
                        <button class="btn btn-dark"  onclick="">CARGAR<i class="bi bi-check">
                        </i>
                        </button>
                    </form>
                </div>
            
        </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >CERRAR</button>
         <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button class="btn btn-primary"><i class="bi bi-check">-->
        
      
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function(){
      let formulario = document.getElementById('formodal');
      formulario.addEventListener('submit', function() {
        formulario.reset();
      });
    });
  </script>