<div class="row">
    <h1>Soft and hard shills</h1>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="95"
        [title]="'JAVA'"
        [showSubtitle]="false"
        [showUnits]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [title]="'INGLÉS'"
    [showSubtitle]="false"
    [showUnits]="false"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [title]="'JAVASCRIPT'"
        [showSubtitle]="false"
        [showUnits]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [title]="'MYSQL'"
    [showSubtitle]="false"
    [showUnits]="false"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class= "text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [title]="'GITHUB'"
    [showSubtitle]="false"
    [showUnits]="false"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
</div>